<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>Room Detail</h4>
    <div>
        ID: <span th:text="${roomDTO.id}"></span>
    </div>
    <div>
        Room name: <span th:text="${roomDTO.roomName}"></span>
    </div>
    <div>
        Capacity: <span th:text="${roomDTO.capacity}"></span>
    </div>
    <div>
        Screen Type: <span th:text="${roomDTO.screenType}"></span>
    </div>
    <div>
        Status:
        <span th:if="${roomDTO.status == true}">Đang hoạt động</span>
        <span th:unless="${roomDTO.status == true}">Ngừng hoạt động</span>
    </div>

</body>
</html>